*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
        135deg,
        #fff0f6,
        #ffe4ec,
        #ffeef8
    );
  
    font-family:'Poppins',sans-serif;
    padding:30px;
  }
  
  .app-container{
    width:100%;
    max-width:900px;
  
    background:rgba(255,255,255,0.9);
  
    backdrop-filter:blur(10px);
  
    border-radius:30px;
  
    padding:40px;
  
    box-shadow:
        0 10px 35px rgba(255,105,180,.15);
  
    text-align:center;
  }
  
  .logo{
    font-family:'Pacifico',cursive;
    font-size:4rem;
    color:#ff5d9e;
    margin-bottom:10px;
  }
  
  .subtitle{
    color:#777;
    margin-bottom:35px;
  }
  
  .task-form{
    display:flex;
    gap:15px;
    margin-bottom:25px;
  }
  
  .task-form input{
    flex:1;
  
    padding:16px;
  
    border:2px solid #ffb6d2;
  
    border-radius:14px;
  
    font-size:16px;
  
    outline:none;
  }
  
  .task-form input:focus{
    border-color:#ff5d9e;
  }
  
  .task-form button{
    border:none;
  
    background:#ff5d9e;
  
    color:white;
  
    padding:16px 25px;
  
    border-radius:14px;
  
    cursor:pointer;
  
    font-weight:600;
  
    transition:.3s;
  }
  
  .task-form button:hover{
    transform:translateY(-2px);
    background:#ff408d;
  }
  
  .filters{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-bottom:25px;
  }
  
  .filters button{
    border:none;
    background:#ffe6f0;
    color:#444;
  
    padding:10px 22px;
  
    border-radius:12px;
  
    cursor:pointer;
  }
  
  .filters button:hover{
    background:#ffd3e6;
  }
  
  .stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
  
    gap:15px;
  
    margin-bottom:30px;
  }
  
  .stat-card{
    background:#fff5fa;
  
    padding:18px;
  
    border-radius:16px;
  
    box-shadow:0 3px 10px rgba(0,0,0,.05);
  }
  
  .stat-card h3{
    color:#ff5d9e;
    font-size:14px;
  }
  
  .stat-card span{
    font-size:28px;
    font-weight:700;
  }
  
  #task-list{
    list-style:none;
  }
  
  .task{
    display:flex;
  
    align-items:center;
  
    justify-content:space-between;
  
    background:white;
  
    margin-bottom:15px;
  
    padding:18px;
  
    border-radius:16px;
  
    box-shadow:0 3px 10px rgba(0,0,0,.05);
  }
  
  .task label{
    display:flex;
    align-items:center;
    gap:12px;
  }
  
  .task input[type="checkbox"]{
    width:20px;
    height:20px;
    accent-color:#ff5d9e;
  }
  
  .task.completed span{
    text-decoration:line-through;
    opacity:.5;
  }
  
  .delete-btn{
    background:#ff5d9e;
  
    color:white;
  
    border:none;
  
    padding:10px 14px;
  
    border-radius:10px;
  
    cursor:pointer;
  }
  
  .delete-btn:hover{
    background:#ff3f87;
  }
  
  @media(max-width:768px){
  
    .logo{
        font-size:3rem;
    }
  
    .task-form{
        flex-direction:column;
    }
  
    .stats{
        grid-template-columns:1fr;
    }
  }
